<%= form_for @label do |f| %>
    <p>
        <%= f.label :label_name %><br>
        <%= f.text_field :label_name %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'View all labels', labels_path %>