<div class="col-xs-12" >
<div class="col-xs-10 col-xs-offset-2">
<div class="well">
<h1>Listen to: <%=@song.song_name %></h1>
<table class="table table-responsive table-bordered table-hover">
  <tr>
    <th>Song Title</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Release Date</th>
    <th>Duration</th>
    <th>Listen</th>
  </tr>
  <tr>
    <td> <%= @song.song_name %> </td>
    <td> <%= @song.artist.artist_name %> </td>
	<td><%= @song.genre %></td>
	<td><%= @song.release_date %></td>
	<td><%= @song.duration %></td>
  <% if @artist_song_detail == {} %>
        <td> No media available</td>
    <% else %>
        <td><%= link_to "Listen", "#{@artist_song_detail[@song.artist.artist_name]}" %></td>
    <% end %>
  </br>
  </tr>
</table>

</div>
</div>
</div>
