<table class="table table-responsive table-bordered table-hover">
  <tr>
    <th>Artist Name</th>
    <th>Age</th>
    <th>Label</th>
  </tr>
	<% @artists.each do |artist| %>
		<tr>
			<td> <%=link_to "#{artist.artist_name}", artist_path(artist) %> </td>
			<td><%= artist.artist_age %></td>
			<td> <%=link_to "#{artist.label.label_name}", labels_path %> </td>
			<td class="col-xs-1"><%= link_to "View artist songs", artist_songs_path(artist), 
					:class => 'btn btn-primary' %></td>
			<td class="col-xs-1"><%= link_to "Edit artist", edit_artist_path(artist),
					:class => 'btn btn-info' %></td>
			<td class="col-xs-1"><%= link_to "Delete artist", artist_path(artist),
					method: :delete, data: { confirm: 'Are you sure?' },
					:class => 'btn btn-danger' %></td>
		</tr>
	<% end %>
</table>
<%= link_to "Create a new artist", new_artist_path, :class => 'btn btn-success' %>
<%= link_to "View all songs", songs_all_path, :class => 'btn btn-success' %>
<%= link_to "View all labels", labels_path, :class => 'btn btn-success' %>