<%= form_for @artist do |f| %>
	<p>
    	<%= f.label :artist_name %><br>
   		<%= f.text_field :artist_name %>
 	</p>
 
  <p>
  	 <%= f.label :artist_age %><br>
  	 <%= f.text_field :artist_age %>
  </p>
 
 <p>
     <%= collection_select(:label, :label_id, Label.all, :id, 
        :label_name, :prompt => 'Please select label') %>
  </p>
 	<p>
   	<%= f.submit %>
 	</p>
<% end %>

<%= link_to 'View all artists', artists_path %>