<div class="col-xs-12" >
<div class="col-xs-8 col-xs-offset-2">
<div class="well">
<h1>Artist: <%= @artist.artist_name%></h1>
<table class="table table-responsive table-bordered table-hover">
  <tr>
    <th>Artist Name</th>
    <th>Age</th>
    <th>Label</th>
  </tr>
  <tr>
		<td><%= @artist.artist_name %> </td>
		<td><%= @artist.artist_age %></td>
		<td><%= @artist.label.label_name %> </td>
		<td><%= link_to "View artist songs", artist_songs_path(@artist), 
				:class => 'btn btn-primary' %></td>
		<td><%= link_to "Edit artist", edit_artist_path(@artist),
				:class => 'btn btn-info' %></td>
		<td><%= link_to "Delete artist", artist_path(@artist),
				method: :delete, data: { confirm: 'Are you sure?' },
				:class => 'btn btn-danger' %></td>
		<br>
	</tr>
</table>
<br><br>
<%= link_to "Create a new artist", new_artist_path, :class => 'btn btn-primary' %>
<%= link_to "View all songs", songs_all_path, :class => 'btn btn-primary' %>
<%= link_to "View all labels", labels_path, :class => 'btn btn-primary' %>
<%= link_to "View all artists", artists_path, :class => 'btn btn-primary' %>
</div>
</div>
</div>