<div class="col-lg-10 col-lg-offset-1">
<div class="well">
<table class="table table-responsive table-bordered table-hover">
<h1 class="col-lg-4 bart_font col-lg-offset-4 heading_color">Route-Station Details</h1>
  <tr>
    <th class="col-lg-1 bart_font heading_color">Route</th>
    <th class="col-lg-1 bart_font heading_color">Station</th>
    <th class="col-lg-1 bart_font heading_color">Sequence</th>
  </tr>
	<% @bartroutestations.each do |station| %>
		<tr>
			<% binding.pry %>

			<td class="col-lg-1 bart_font body_color">
				<%= station.bartroute.bart_route_name %></td>
			<td class="col-lg-1 bart_font body_color">
				<%= station.bartstation.bart_station_name %></td>
 			<td class="col-lg-1 bart_font body_color">
 				<%= station.route_station_sequence %></td>
		</tr>
	<% end %>
</table>
</div>
</div>

<%= link_to "Create route stations", new_bartroutestation_path,
						:class => 'btn btn-info bart_font' %>

<%= link_to "Routes", bartroutes_path,
						:class => 'btn btn-info bart_font' %>

<%= link_to "Stations", bartstations_path,
						:class => 'btn btn-info bart_font' %>

