<div class="col-lg-10 col-lg-offset-1">
<div class="well">

<p class="bart_font body_color">
Please choose a route and its associated station:
</p>

<%= form_tag @bartroutestation, :class => "form-inline" do %>

       <%= select_tag(:bartroute_id, options_for_select(@bartroute_names)) %>

        <%= select_tag(:bartstation_id, options_for_select(@bartstation_names)) %>

        <%= number_field_tag(:route_station_sequence) %>

        <%= submit_tag "Submit".html_safe, class: "btn btn-info bart_font button_color" %>

<% end %>