<div class="col-xs-12" >
<div class="col-xs-12 col-xs-offset-0">
<div class="well">
<h1 class="gloria_font">All Posts</h1>
<table class="table table-responsive table-bordered table-hover">
	<% post_position = 1 %>
	<% @posts.each do |post| %>
		<tr>
			<td class="col-xs-0 gloria_font"><%="#{post_position}".to_i %>
			<td class="col-xs-0 gloria_font">Votes</td>
			<td class="col-xs-1 gloria_font"><img src=<%="#{post.post_url}"%> 
				class="img-responsive img-rounded"></td>
			<td class="col-xs-6 gloria_font"><%= post.post_title %></td>
			<td class="col-xs-1 gloria_font"><%= link_to "View post", post_path(post), 
					:class => 'btn btn-primary class="gloria_font" ' %></td>
			<% if user_signed_in? %>
				<td class="col-xs-1 gloria_font"><%= link_to "Edit post", edit_post_path(post),
						:class => 'btn btn-info' %></td>
				<td class="col-xs-1 gloria_font"><%= link_to "Comment", 
						new_post_comment_path(post), :class => 'btn btn-info' %></td>
			<% end %>
		</tr>
		<% post_position += 1 %>
	<% end %>
</table>
</div>
</div>
</div>