<div class="col-lg-8 col-lg-offset-2">
<div class="well">

<p class="body_font body_color">
<%= "To get from #{@start_station} to #{@end_station} your options are:" %>
</p>


<% @bartjourney_options.each do |key,value|%>
	<%= "#{key} leaving in " %>
	<% value.each do |val| %>
		<%= "#{val}, " %>
	<% end %>
	<%= "minutes" %> 
	</br>
<% end %>

</div>

<%= link_to "New journey", new_bartjourney_path,
						:class => 'btn btn-info col-lg-offset-4 body_font' %>

</div>